<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feed de Posts</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <!-- Inclure le header ici -->
    </header>
    <main>
        <h1>Feed de Posts</h1>
        <a href="/posts/create">Créer un poste</a>
        <% if (posts.length > 0) { %>
            <% posts.forEach(post => { %>
                <div class="post">
                    <h2><%= post.username %></h2>
                    <p><%= post.content %></p>
                    <a href="/profile/<%= post.user_id %>">Voir le profil</a>
                    <h2>Ajouter un commentaire</h2>
                    <form action="/comments/create" method="POST">
                        <input type="hidden" name="postId" value="<%= post.id %>"> <!-- Utilisation de post.id -->
                        <textarea name="content" placeholder="Écrivez votre commentaire ici..."></textarea>
                        <button type="submit">Publier</button>
                    </form>

                    <a href="/posts/<%= post.id %>">Voir les commentaires</a>
                </div>
            <% }); %>
        <% } else { %>
            <p>Aucun post disponible.</p>
        <% } %>
    </main>
    <footer>

        
        <!-- Inclure le footer ici -->
    </footer>
</body>
</html>
